## ESPIER III V105 Spartan-6 board constraint file v1.1
## J. Potocki 2018

# Clock
NET "CLK" LOC = P56 | PERIOD = 20.83ns HIGH 50%;

# Keys
NET "Rate<0>" LOC = P15;
NET "Rate<1>" LOC = P21;
NET "Rate<2>" LOC = P17;
NET "Reset" LOC = P16;

# LEDs
NET "DRLED" LOC = P95 | SLEW = "SLOW";
#NET "LED<1>" LOC = P94 | SLEW = "SLOW";
#NET "LED<2>" LOC = P98 | SLEW = "SLOW";
NET "NACK" LOC = P97 | SLEW = "SLOW";

# DISPL. 7-SEG
NET "DS_EN<0>" LOC = P75 | SLEW = "SLOW";
NET "DS_EN<1>" LOC = P67 | SLEW = "SLOW";
NET "DS_EN<2>" LOC = P74 | SLEW = "SLOW";
NET "DS_EN<3>" LOC = P66 | SLEW = "SLOW";
NET "DS<0>"    LOC = P80;  # Seg. A
NET "DS<1>"    LOC = P79;  # Seg. B
NET "DS<2>"    LOC = P83;  # Seg. C
NET "DS<3>"    LOC = P82;  # Seg. D
NET "DS<4>"    LOC = P81;  # Seg. E
NET "DS<5>"    LOC = P78;  # Seg. F
NET "DS<6>"    LOC = P84;  # Seg. G
NET "DS<7>"    LOC = P85;  # Seg. DP

# PS/2
#NET "PS2_CLK"  LOC = P24 | SLEW = "SLOW";
#NET "PS2_DATA" LOC = P23 | SLEW = "SLOW";

# IrDA
#NET "IRDA" LOC = P62 | SLEW = "SLOW";

# RS-232 PL-2303 (clone)
#NET "RS_TXD" LOC = P12 | SLEW = "SLOW";
#NET "RS_RXD" LOC = P14 | SLEW = "SLOW";

# ADC
#NET "ADCSN" LOC = P61 | SLEW = "SLOW";
#NET "ADDAT" LOC = P59 | SLEW = "SLOW";
#NET "ADCLK" LOC = P55 | SLEW = "SLOW";

# SPI FLASH
#NET "FLASH_CLK" LOC = P88 | SLEW = "SLOW";
#NET "FLASH_CS"  LOC = P93 | SLEW = "SLOW";
#NET "FLASH_DI"  LOC = P87 | SLEW = "SLOW";
#NET "FLASH_DO"  LOC = P92 | SLEW = "SLOW";

# Buzzer
#NET "BP1" LOC = P11 | SLEW = "SLOW";

# VGA
NET "V_R<0>" LOC = P46 | SLEW = FAST;
NET "V_R<1>" LOC = P47 | SLEW = FAST;
NET "V_R<2>" LOC = P48 | SLEW = FAST;
NET "V_R<3>" LOC = P50 | SLEW = FAST;
NET "V_R<4>" LOC = P51 | SLEW = FAST;
NET "V_G<0>" LOC = P35 | SLEW = FAST;
NET "V_G<1>" LOC = P40 | SLEW = FAST;
NET "V_G<2>" LOC = P41 | SLEW = FAST;
NET "V_G<3>" LOC = P43 | SLEW = FAST;
NET "V_G<4>" LOC = P44 | SLEW = FAST;
NET "V_G<5>" LOC = P45 | SLEW = FAST;
NET "V_B<0>" LOC = P29 | SLEW = FAST;
NET "V_B<1>" LOC = P30 | SLEW = FAST;
NET "V_B<2>" LOC = P32 | SLEW = FAST;
NET "V_B<3>" LOC = P33 | SLEW = FAST;
NET "V_B<4>" LOC = P34 | SLEW = FAST;
NET "V_SYNC" LOC = P27 | SLEW = FAST;
NET "H_SYNC" LOC = P26 | SLEW = FAST;

# SDRAM
#NET "SDRAM_A<0>"   LOC = P7;
#NET "SDRAM_A<1>"   LOC = P8;
#NET "SDRAM_A<2>"   LOC = P9;
#NET "SDRAM_A<3>"   LOC = P10;
#NET "SDRAM_A<4>"   LOC = P143;
#NET "SDRAM_A<5>"   LOC = P142;
#NET "SDRAM_A<6>"   LOC = P141;
#NET "SDRAM_A<7>"   LOC = P140;
#NET "SDRAM_A<8>"   LOC = P139;
#NET "SDRAM_A<9>"   LOC = P138;
#NET "SDRAM_A<10>"  LOC = P6;
#NET "SDRAM_A<11>"  LOC = P137;
#NET "SDRAM_A<12>"  LOC = P134;
#NET "SDRAM_BA<1>"  LOC = P5;
#NET "SDRAM_BA<0>"  LOC = P2;
#NET "SDRAM_CKE"    LOC = P133;
#NET "SDRAM_CLK"    LOC = P132;
#NET "SDRAM_CS_N"   LOC = P1;
#NET "SDRAM_DQMH"   LOC = P131;
#NET "SDRAM_DQML"   LOC = P114;
#NET "SDRAM_WE_N"   LOC = P115;
#NET "SDRAM_CAS_N"  LOC = P116;
#NET "SDRAM_RAS_N"  LOC = P117;
#NET "SDRAM_DQ<0>"  LOC = P100;
#NET "SDRAM_DQ<1>"  LOC = P99;
#NET "SDRAM_DQ<2>"  LOC = P102;
#NET "SDRAM_DQ<3>"  LOC = P101;
#NET "SDRAM_DQ<4>"  LOC = P104;
#NET "SDRAM_DQ<5>"  LOC = P105;
#NET "SDRAM_DQ<6>"  LOC = P111;
#NET "SDRAM_DQ<7>"  LOC = P112;
#NET "SDRAM_DQ<8>"  LOC = P127;
#NET "SDRAM_DQ<9>"  LOC = P126;
#NET "SDRAM_DQ<10>" LOC = P124;
#NET "SDRAM_DQ<11>" LOC = P123;
#NET "SDRAM_DQ<12>" LOC = P121;
#NET "SDRAM_DQ<13>" LOC = P120;
#NET "SDRAM_DQ<14>" LOC = P119;
#NET "SDRAM_DQ<15>" LOC = P118;